html,body{
    width:100%;
    height: 100%;
}

.character-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.info-block-container, .attributes-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.info-block-entry, .attribute-component {
    flex-grow: 1;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1em;
}

.info-block-entry{
    flex-basis: 10em;
}

.attribute-component{
    flex-basis: 10em;
    display: flex;
}

.attribute-component p,label{
    text-align: center;
}

.attribute-component p {
    order: 1;
    font-size: large;
}

.attribute-component label{
    order: 2;
    font-weight: bold;
}

.skill-block-container, .personality-container, .gear-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.weapons-block, .equipment-block, .armour-block{
    flex-basis: 30em;
}

.skill-group-container{
    display: flex;
    flex-direction: column;
    min-width: 25em;
}

.personality-block{
    flex-grow: 1;
}
.talent-block{
    flex-grow: 4;
}

.generator-block{}